.drawable {
  width: 100%;
  height: calc(100% - 180px);
  background-color: var(--bg-normal);
  align-content: center;
  overflow: auto;
}

.drawable__drawing {
  width: 100%;
  height: auto;
  aspect-ratio: 4 / 5;
  margin: 0 auto;
  max-width: 768px;
  max-height: 924px;
  height: 90%;
  border: 1px solid var(--border);
}

.drawable__drawing-row {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
}

.drawable__drawing-cell {
  width: 100%;
}

@media (max-width: 768px) or (max-height: 924px) {
  .drawable {
    padding-left: 26px;
    padding-right: 26px;
    padding-bottom: 18px;
    padding-top: 18px;
  }
}
