* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Onest", sans-serif;
}

body {
  overflow: hidden;
}

#container {
  height: 100vh;
}

a {
  text-decoration: none;
}

.select-button {
  display: block;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  color: var(--fg-color);
  background-color: var(--bg-light);
  border-radius: 8px;
  border: 1px solid var(--border);

  &:hover + .tooltip {
    visibility: visible;
  }

  &.select-button--active {
    border: 2px solid var(--accent-color);
  }
}

.action-button {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  cursor: pointer;
  color: var(--fg-color);
  font-size: var(--fs-p);
  background-color: var(--bg-light);
  border-radius: 8px;
  border: 1px solid var(--border);

  &:hover + .tooltip {
    visibility: visible;
  }
}

.action-button-vertical {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60px;
  height: 60px;
  cursor: pointer;
  color: var(--fg-color);
  font-size: var(--fs-p);
  background-color: var(--bg-light);
  border-radius: 8px;
  border: 1px solid var(--border);
  gap: 5px;
}

.large-color-button {
  width: 30px;
  height: 30px;
  position: relative;
  background-color: var(--color-white);

  &.large-color-button--active {
    padding: 4px;
  }
}

.small-color-button {
  width: 18px;
  height: 18px;
  position: relative;
  background-color: var(--color-white);

  &.small-color-button--active {
    padding: 2px;
  }
}

.large-color-button,
.small-color-button {
  border-radius: 100%;
  cursor: pointer;
  border: 0.5px solid var(--color-black);

  &:hover + .tooltip {
    visibility: visible;
  }
}

.color-picker {
  width: 30px;
  height: 30px;

  &:hover + .tooltip {
    visibility: visible;
  }

  &.color-picker--active {
    border: 1px solid var(--accent-color);
  }
  cursor: pointer;
}

.tooltip {
  white-space: nowrap;
  width: fit-content;
  color: var(--fg-color);
  background-color: var(--bg-dark);
  border-radius: 0.65rem;
  border: 1px solid var(--border);
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
  font-size: 0.975rem;
  pointer-events: none;
  z-index: 1;
  visibility: hidden;
  position: absolute;
  font-size: var(--fs-p);
  display: flex;
  justify-content: center;
  align-items: center;

  > * {
    padding: 0;
    padding-inline: 0.65rem;
    margin: 0;
  }

  > *:first-child {
    padding-block-start: 0.65rem;
  }

  > * + * {
    margin-block-start: 0.45rem;
  }

  > *:last-child {
    padding-block-end: 0.65rem;
  }

  & > p > kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid var(--color-gray);
    box-shadow:
      0 1px 1px rgba(0, 0, 0, 0.2),
      0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
    color: #333;
    display: inline-block;
    font-size: 0.85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
    margin-left: 4px;
  }
}
